body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Logo";
  src: url("./TheHistoriaDemo.otf");
  font-style: normal;
}

@font-face {
  font-family: "News";
  src: url("./News.otf");
  font-style: normal;
}

.App {
  background-color: #e0e0e0;
}

.header-outter {
  position: fixed;
  flex-shrink: 0;
  width: 90%;
  height: 79px;
  margin-left: 4.9%;
  margin-top: 75vh;
  border-radius: 26px;
  background: #e0e0e0;
  box-shadow:  10px 10px 20px #afafaf,
             -10px -10px 20px #ffffff;
}

.navbar-outter {
  margin: 0;
  margin-top: 20px;
  padding: 5px 0;
  border-top: 2px solid #00000073;
  border-bottom: 2px solid #00000073;
  position: fixed;
  width: 99.9%;
  text-align: center;
  justify-content: space-between;
  background-color: #e0e0e0;
}
.app-title {
  margin: 0 auto;
  margin-top: -1.9px;
  padding: 0px 15px;
}
.brand-name {
  font-family: 'News';
  font-weight: 300;
  font-size: 50px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.lower {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: -12px;
  font-family: 'Logo';
  cursor: pointer;
  font-size: 25px;
  font-weight: 100;
  padding: 0;
  color: #000;
}

.secondFont {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.user-section {
  display: grid;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 14px;
  margin-right: 15px;
  border-radius: 26px;
  background: #e0e0e0;
  box-shadow:  10px 10px 20px #afafaf,
             -10px -10px 20px #ffffff;
}
.userImage {
  border: 2px solid green;
  background-color: #ffffff15;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
