body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20182a;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-outter {
  position: fixed;
  width: 90%;
  height: 79px;
  margin-left: 4.9%;
  margin-top: 86vh;
  border-radius: 26px;
  background: #20182a;
  box-shadow:  6px 6px 12px #130e19,
              -6px -6px 12px #2d223b;
}

.App {

  background-color: #20182a;
}
